body {
    font: normal normal 14px arial, helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}

p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: #f00 #0f0 #00f #ff0;
    margin: 10px 50px;
    line-height: 21px;
}

h1 {
    color: #ffc;
    background-color: #009;
    font-size: 2em;
    margin: 0 0 7px 0;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border: 0.5em #c00 solid;
}

h2 {
    color: #fff;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px 2px 2px 14px;
}

h3, img {
    border: 2px #ccc dashed;
}

a {
    text-decoration: underline;
}

a:link {
    color: #00f;
}

a:visited {
    color: #f0f;
}

a:active {
    color: #f00;
}

a:hover {
    text-decoration: none;
    color: #00f;
    background-color: #ff0;
}

input:focus, textarea:focus {
    background: #eee;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
}

#navigation {
    position: float;
    width: 200px;
}

#content {
    margin: 0 200px;
}

#footer {
    clear: both;
}